@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* shared styles */

.margin-bottom {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

.section-description {
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
}

.width {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* header  */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

/* banner styles  */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 200px;
}

.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
}

.banner-profile-pic {
  width: 580px;
}

.banner-description {
  font-size: 18px;
  color: #757575;
  font-weight: 500;
}

/* main style  */

main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about section  */

.about {
  border-radius: 5px;
  background-color: #fff8f3;
  padding: 130px 150px;
  text-align: center;
}

.about-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.item-description {
  font-weight: 600;
  font-size: 20px;
}

.item-title {
  font-size: 20px;
  color: #757575;
}

/* skills section style  */

.skills {
  text-align: center;
}

.skills-container {
  text-align: left;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.skill-title {
  font-size: 20px;
}

/* resume section style  */

.resume-container {
  display: flex;
  gap: 24px;
}

.experience-des,
.experience-sub-title {
  color: #757575;
}

.resume-col-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.experience-title {
  font-size: 25px;
  margin-bottom: 5px;
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.resume-column hr {
  margin: 20px 5px;
}

.resume-download-cv {
  margin-top: 50px;
}

/* footer styles  */

footer {
  background-color: #fff8f3;
  padding: 130px 20px;
}
.footer-wrapper {
  display: flex;
  gap: 100px;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-column {
  width: 50%;
}

.footer-column p {
  margin-bottom: 20px;
}

footer input[type="text"],
input[type="email"],
footer textarea {
  padding: 18px 30px;
  color: #757575;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  display: block;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  height: 64px;
  margin-bottom: 24px;
}

footer textarea {
  height: 120px;
  resize: none;
}

.skills {
  padding: 20px;
}

.resume {
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .skills-container,
  .resume-container,
  .footer-wrapper,
  .about-items {
    flex-direction: column;
    padding: 15px;
  }

  nav {
    flex-direction: column;
    margin: 0;
  }

  nav ul {
    margin-top: 30px;
  }

  .banner {
    margin: 20px;
    flex-direction: column;
  }

  .mobile-mb {
    margin-bottom: 20px;
  }

  .header {
    background-image: none;
  }

  .footer-column {
    width: 100%;
  }

  .about {
    padding: 15px;
  }

  footer {
    padding: 50px 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    margin: 0;
  }

  nav ul {
    margin-top: 30px;
  }

  .header {
    background-image: none;
  }

  .banner {
    margin: 30px;
    flex-direction: column;
  }
  .banner-content {
    text-align: center;
  }

  nav {
    padding: 50px 20px;
  }

  .about {
    padding: 50px;
  }

  .skills-container {
    flex-wrap: wrap;
  }

  footer {
    padding: 50px 20px;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-column {
    width: 100%;
  }
}
